
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700,800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}

/* :root{
    --bg-color: #081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

} */

:root{
    --bg-color: #132333;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

}
html{
font-size: 65.5%;
overflow-x: hidden;
}

body{
    background:var(--bg-color) ;
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 2rem 9%;
    /* background: yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
     

}

.navbar a{
font-size: 1.7rem;
color: var(--text-color);
margin-left: 3.5rem;
transition: .5s;
font-weight: 500;

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color)

}

#menu-icon{
    font-size: 4rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}


section{
    min-height: 100vh;
    padding: 10rem 10% 3rem;
}


.home{
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;

}

.home-container{
max-width: 70rem;
}

.home-container h1{
    font-weight: 800;
    font-size: 6.1rem;
    line-height: 1.5 ;
}


.home-container .animated-text{
    position: relative;
    width: 55rem;
}

.home-container .animated-text h3{
font-size: 2.8rem;
font-weight: 600;
color: transparent;
line-height: 1.3;
-webkit-text-stroke: 1px var(--main-color);

}

.home-container p{
    font-size: 1.5em;
    padding: 2rem 0 4rem;
}

.btn-box, .btn-box a{
    position: relative;
    display: flex;
    width: 35rem;
    height: 5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    border-radius: 50px;
    padding: 0.2rem;

}

.btn-box .btn {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 15rem;
height: 100%;
background:#00abf0;
}


.social-icon{
    position: absolute;
    bottom: 23rem;
    
    width: 205px;
    display: flex;
    justify-content: space-between;

}

.social-icon a{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
font-size: 20px;
color: var(--main-color);



}

.social-icon a:hover{
background-color: blue;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

